<div>
        <!--<p class="alert confirmation" ng-show="state.success" translate>user_profile.update_success</p>-->
        <form name="form">

            <!-- VMS Profile -->
            <div class="form-field">
            </div>
            <div class="form-field">
              <label class="listing-item-title" style="font-size:15px;font-weight: bold;"> 手機 </label>
              <span class="listing-item-secondary" style="font-size:15px;"> {{vmsuser.data.phone_number}} </span> 
            </div>
            <div class="form-field">
              <label class="listing-item-title" style="font-size:15px;font-weight: bold;"> 電子郵件 </label>
              <span class="listing-item-secondary" style="font-size:15px;"> {{vmsuser.data.email}} </span>
            </div>
            <div class="form-field">
              <label class="listing-item-title" style="font-size:15px;font-weight: bold;"> 居住城市及地區 </label>
              <span class="listing-item-secondary" style="font-size:15px;"> {{vmsuser.data.city.name_en}}, {{vmsuser.data.location}} </span>
            </div>
            <div class="form-field">
              <label class="listing-item-title" style="font-size:15px;font-weight: bold;"> 裝備 </label>
              <span class="listing-item-secondary" style="font-size:15px;margin-right:5px;" ng-repeat="equip in vmsuser.data.equipment"> {{equip.name}} </span>
            </div>
            <div class="form-field">
              <label class="listing-item-title" style="font-size:15px;font-weight: bold;"> 技能 </label>
              <span class="listing-item-secondary" style="font-size:15px;margin-right:5px;" ng-repeat="skill in vmsuser.data.skills"> {{skill.name}} </span>
            </div>

            <!--<div class="modal-actions">
                <div class="form-field">
                  <button type="button" class="button-link" ng-click="cancel()" translate>
                    user_profile.button.cancel
                  </button>

                  <button type="submit" class="button button-alpha"
                          ng-click="saveUser(user)" ng-disabled="form.$invalid || state.processing">
                    <div class="loading" ng-show="saving"><div class="line"></div><div class="line"></div><div class="line"></div></div>
                    <span translate>user_profile.button.save</span>
                  </button>

                </div>
            </div>-->
        </form>
</div>
